{% extends 'base.html' %}

{% block content %}
<div id="divLista">
    <input name="filme" type="text" placeholder="Nome do filme">
    <ul id="double">
        <li>
            <div>
                <img src="">
                <h4>Filme 1</h4>
                <p>Data 23/08/1996</p>
            </div>
        </li>
        <li>
            <div>
                <img src="">
                <h4>Filme 2</h4>
                <p>Data 22/08/1996</p>
            </div>
        </li>
        <li>
            <div>
                <img src="">
                <h4>Filme 3</h4>
                <p>Data 24/08/1996</p>
            </div>
        </li>
    </ul>
</div>
{% endblock %}