body{
    background-color: #128c7e;
    text-align: center;
}

#titulo{
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    font-size: 108px;
    padding-top: 5%;
}

#btnLogout{
    float: right;
    margin: 5px;
    padding: 3px;
}

form:not(.filme){
    width: 25%;
    display: inline-block;
}

input{
    margin:2px;
    width: 100%
}

.formatMiddle{
    width: 50%;
    margin: 0 auto 10px auto;
}

#divLista{
    width: 50%;
    display: inline-block;
}

ul{
  width:100%;
  display: inline-block;
}

li{
  line-height:1.5em;
  border:1px solid #128c7e;
  float:left;
  display:inline;
  margin: 5px
}

#double li{ 
    width:47%;
}

img{
    width: 50%;
    float: left
}

h4{
    padding-top: 20%;
}

.naoVisto h4{
    color: #128c7e;
}

.visto h4{
    color: #ccc;
}

.visto{
    background-color: #128c7e;
}

#listaFilmes {
    padding-right: 5px;
    text-align: center;
}

.button-container form,
.button-container form div {
    display: inline;
}

.button-container button {
    display: inline;
    vertical-align: middle;
}

.black{
    color: black
}